path/*
HELP.md
target/
genereate_erd.py
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
*.java-version

### VS Code ###
.vscode/

### Misc ###
*.log
.DS_Store