<main class="main">
  <div class="content">
    <div class="container">
      <!-- Controls Section -->
      <div class="controls">
        <div class="control">
          <player-control></player-control>
        </div>
        <div class="control">
          <deck-control></deck-control>
        </div>
        <div class="control">
          <game-control></game-control>
        </div>
      </div>

      <!-- Game area -->
      <game-table></game-table>

    </div>
  </div>
</main>
<router-outlet />
