<main class="main">
  <div class="content">
    <div class="container">
      <!-- Controls Section -->
      <div class="controls">
        <div class="control">
          <goto-player-control></goto-player-control>
        </div>
        <div class="control">
          <goto-deck-control></goto-deck-control>
        </div>
        <div class="control">
          <goto-game-control></goto-game-control>
        </div>
      </div>

      <!-- Game area -->
      <div>
        <div>
          <button (click)="reloadTables()">
            <!-- TODO: goto: This could be automatically, so when some action in controlls execute we just refresh the specific game affected -->
            Reload
          </button>

          <div *ngFor="let game of games">
            <goto-game-table [game]="game" (gameClosed)="removeGame($event)"></goto-game-table>
          </div>

        </div>
      </div>

    </div>
  </div>
</main>
<router-outlet />